.react-rater-link{ color:#ccc } 
.react-rater-hover{color:yellow }
.react-rater-active{color:yellow }

.react-rater-star.is-active{
  color:rgb(224, 224, 44);
}
$darkblue : #0b89b3;
$paleblue : rgb(194, 233, 247);
$mainorange: #ffa042;
$paleorange: #FFAF5C;


.table1{

width: 80%;
margin: auto;
margin-top: 30px;
.table{
  border: 3px solid $paleorange !important  ;
  &:hover{
    border: 3px solid $darkblue!important 
  }
};
}
.head{

  background-color: $darkblue;
}