// .leaflet-container {
//   height: 400px;
//   width: 50%;
//  margin-left: 20%;
//  margin-top: 10%;
// }
.react-rater-star.is-active{
  color:rgb(224, 224, 44);
}
.react-rater-star.is-active-half:before{
  color:rgb(224, 224, 44);
}
.list{
  font-size: 1.21em;
  font-weight: bold;


}
.leaflet-popup-content-wrapper {
text-align: center;

}