$darkblue : #0b89b3;
$paleblue :hsl(180, 62%, 90%);
$mainorange: #ffa042;
$paleorange: #FFAF5C;


.containers {
  margin-top: 10%;
  width: 55%;
  height: 200px;
  margin: 0 auto;
}
// edit_profile style
.edit {
width: 35%;
margin: auto;
display: flex;
flex-direction:column;
justify-content: center;
   
}
  .m{
  &:hover button {
   background-color: $paleorange;
   border: 3px solid $darkblue;
  }
  }
  .form-control{
    width: 50%;
    border: 3px solid $paleorange !important ;
    &:hover {
      border: 3px solid $darkblue !important ;
    }
    
  }


.logo-login {
  svg {
    height: 19vh;
    min-height: 100px;
    margin-bottom: 0.5em;
  

    .cls-1 {
      fill: transparent;
    }
    path:not(.cls-1) {
      fill: #ffa142;
    }
  }
  h1 {
    font-size: 1.4em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 0.8em;
  }
}
body{
  text-align: center !important;
}
h{
  font-size: 20px;
}
#button1 button{
  width:50%
}