$darkblue : #0b89b3;
$paleblue :rgb(194, 233, 247);
$mainorange: #ffa042;
$paleorange: #FFAF5C;


.containers {
  margin-top: 10%;
  width: 55%;
  height: 200px;
  margin: 0 auto;
}
// edit_profile style
.edit {
  width: 35%;
 
margin: auto;
display: flex;
flex-direction:column;
justify-content: center;
   
}
  .m{
  text-align: center ;
  &:hover button {
   background-color: $paleorange;
   border: 3px solid $darkblue;
  }
  }
  .form-control{
    border: 3px solid $paleorange !important ;
    &:hover {
      border: 3px solid $darkblue !important ;
    }
  }


.logo-login {
  svg {
    height: 10vh;
    min-height: 100px;
    margin-bottom: 0.5em;

    .cls-1 {
      fill: transparent;
    }
    path:not(.cls-1) {
      fill: #ffa142;
    }
  }
  h1 {
    font-size: 1.4em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 0.8em;
  }
}
